<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="nsMedlem3060Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="nsMedlem3060Service.Properties.Settings.puls3061_dk_dbConnectionString_Test"
      connectionString="Data Source=mssql1.unoeuro.com;Initial Catalog=puls3061_dk_db;Integrated Security=False;Persist Security Info=True;User ID=puls3061_dk"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><applicationSettings>
    <nsMedlem3060Service.Properties.Settings>
      <setting name="puls3061_dk_dbConnectionString_Prod" serializeAs="String">
        <value>Data Source=mssql2.unoeuro.com;Initial Catalog=puls3060_dk_db;Integrated Security=False;Persist Security Info=True;User ID=puls3060_dk</value>
      </setting>
    </nsMedlem3060Service.Properties.Settings>
  </applicationSettings>
</configuration>
