<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nsPbs3060.Properties.Settings.puls3061_dk_dbConnectionString"
            connectionString="Data Source=hd58;Initial Catalog=puls3061_dk_db;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="nsPbs3060.Properties.Settings.puls3061_dk_dbConnectionString1"
            connectionString="Data Source=HD58;Initial Catalog=puls3061_dk_db;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="nsPbs3060.Properties.Settings.puls3061_dk_dbConnectionString2"
            connectionString="Data Source=mssql1.unoeuro.com;Initial Catalog=puls3061_dk_db;Persist Security Info=True;User ID=puls3061_dk;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
