<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="nsInfo3060.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="nsInfo3060.Properties.Settings.test_dbConnectionString_Test"
      connectionString="Data Source=vHD50;Initial Catalog=dbPuls3060Medlem;User ID=sa;Encrypt=True;TrustServerCertificate=True" />
    <add name="nsInfo3060.Properties.Settings.puls3061_dk_dbConnectionString_Test"
      connectionString="Data Source=vHD50;Initial Catalog=dbPuls3060Medlem;User ID=sa;Encrypt=True;TrustServerCertificate=True" />
    <add name="nsInfo3060.Properties.Settings.puls3061_dk_dbConnectionString_Prod"
      connectionString="Data Source=qynhbd9h4f.database.windows.net;Initial Catalog=dbPuls3060Medlem;Integrated Security=False;Persist Security Info=True;User ID=sqlUser;Encrypt=True" />
    <add name="nsInfo3060.Properties.Settings.dbPuls3060MedlemConnectionString"
      connectionString="Data Source=VHD50;Initial Catalog=dbPuls3060Medlem;User ID=sa;Password=Puls3060"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <nsInfo3060.Properties.Settings>
      <setting name="UserPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="frmMedlemListLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </nsInfo3060.Properties.Settings>
  </userSettings>
</configuration>