<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://medlem3060functions20190620053047.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/509bf82f-82cb-4b8a-834a-3668a65a4ead/resourcegroups/Default-SQL-WestEurope/providers/Microsoft.Web/sites/medlem3060functions20190620053047</ResourceId>
    <UserName>$medlem3060functions20190620053047</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://medlem3060functions20190620053047.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>