<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <PrivateAppSettings  xdt:Transform="Replace">
    <add key="UniContaUser" value="puls3060" />
    <add key="UniContaPW" value="1234West+" />
    <add key="UniContaCompanyId" value="4852" />
    <add key="GigaHostImapUser" value="regnskab@puls3060.dk" />
    <add key="GigaHostImapPW" value="1234West+" />
    <add key="dbPuls3060MedlemUser" value="sqlUser" />
    <add key="dbPuls3060MedlemPW" value="Puls3060" />
    <add key="puls3060_dkUser" value="puls3060" />
    <add key="puls3060_dkPW" value="tasja123" />
  </PrivateAppSettings>
</configuration>