<html>
  <body>
    <form action="/test" method="post">
      <table width="100%" border="0">
        <tr><td>Navn:</td><td><input type="text" name="navn" size="25" maxlength="25" value="{{name}}"></td></tr>
        <tr><td>Nickname:</td><td>{{user.nickname}}</td></tr>
        <tr><td>Email:</td><td>{{user.email}}</td></tr>
        <tr><td>User_id:</td><td>{{user.user_id}}</td></tr>
        <tr><td>&nbsp;</td><td><input type="submit" value="Opdater"></td></tr>  
      </table>
    </form>
  </body>
</html>
