<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="nsPbs3060.Properties.Settings.puls3061_dk_dbConnectionString3" connectionString="Data Source=qynhbd9h4f.database.windows.net;Initial Catalog=dbPuls3060Medlem;Persist Security Info=True;User ID=sqlUser;Password=Puls3060;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="nsPbs3060.Properties.Settings.dbPuls3060MedlemConnectionString" connectionString="Data Source=vhd50;Initial Catalog=dbPuls3060Medlem;User ID=sa;Password=Puls3060" providerName="System.Data.SqlClient" />
    <add name="nsPbs3060.Properties.Settings.dbPuls3060MedlemConnectionString1" connectionString="Data Source=qynhbd9h4f.database.windows.net;Initial Catalog=dbPuls3060Medlem;Persist Security Info=True;User ID=sqlUser;Password=Puls3060" providerName="System.Data.SqlClient" />
    <add name="nsPbs3060.Properties.Settings.dbPuls3060MedlemConnectionString2" connectionString="Data Source=VHD50;Initial Catalog=dbPuls3060Medlem;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="puls3060_dkEntities" connectionString="metadata=res://*/puls3060_dk.csdl|res://*/puls3060_dk.ssdl|res://*/puls3060_dk.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql3.gigahost.dk;user id=puls3060;password=tasja123;persistsecurityinfo=True;database=puls3060_dk;convert zero datetime=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>