<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/medlem3060.css" type="text/css" media="screen" />
    <script src="/javascripts/jquery-1.4.2.js" type="text/javascript"></script>
    <title>Find Medlem</title>
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <table>
      <tr class="vpil" style=background-color:#FF0000>
        <font color=#003399> 
          <th align=center>Nr</th>
          <th align=center>Navn</th>
          <th align=center>Adresse</th>
          <th align=center>By</th>
          <th align=left valign=middle><a act="new" href=#></a></th>
        </font>
      </tr>
      
      <form name="Search" method="post" action="">
	    <tr valign=top style=background-color:{% cycle  #CFE3CC,#CBE2E4 as rowcolors %}>
          <td align=left><input type="text" name="SNr" size="3" maxlength="5" value=""></td>
          <td align=left><input type="text" name="SNavn" size="18" maxlength="35" value=""></td>
          <td align=left><input type="text" name="SAdresse" size="18" maxlength="35" value=""></td>
          <td align=left><input type="text" name="SBy" size="12" maxlength="25" value=""></td>
          <td align=left valign="middle"> 
            <input type="submit" name="Send" value="S">
          </td>
        </tr>
      </form>
    {% if medlem_list %}
      {% for medlem in medlem_list %}
      <tr  class="vpil" valign=top style=background-color:{% cycle rowcolors %}>
        <td name="Nr" align=left>{{medlem.Nr}}</td>
        <td align=left>{{medlem.Navn}}</td>
        <td align=left>{{medlem.Adresse}}</td>
        <td align=left>{{medlem.Bynavn}}</td>
        <td align=left valign=middle><a act="update" href=#/></td>
      </tr>
      {% endfor %}
    {% endif %}    
    </table>
  </body>
<script language="javascript">
<!--
  $(document).ready(function() {
    fonLoad();
  
    $('.vpil a').click(function() {
      if ($(this)[0].act == 'update') {
        SelectLine( $(this).parent().parent().find('td[name="Nr"]').html() );
      }
      else {
        SelectHeading();      
      }
    });
  });
  
  var windowindex = 0;

  // Add Medlem
  function SelectHeading(){
    var windowname;
    windowname= "findmedlem"+(++windowindex);
    var newwindow;
	  newwindow = window.open("/adm/medlem",windowname,"status, scrollbars, resizeable")
	  newwindow.focus();
  }
  
  // Update Medlem
  function SelectLine(nr){
    var newwindow;
    var windowname;
    windowname= "findmedlem"+(++windowindex);
	  newwindow = window.open("/adm/medlem/"+nr,windowname,"status, scrollbars, resizeable")
	  newwindow.focus();
  }

  function fonLoad(){
	var h = 270;
	var w = 575;
	var l = 30;
	if (l>20){
      w += 15;
	  l = 20;
	}
	window.resizeTo(w, h+(l*25));
  }
// -->
</script>
</html>
