<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<style type="text/css" title="currentStyle">
			@import "/stylesheets/demo_page.css";
			@import "/stylesheets/demo_table.css";
		</style>
    <script src="/javascripts/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.dataTables.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
  		  var oTable;
        $(document).ready(function() {
        oTable = $('#example').dataTable( {
		      "sPaginationType": "full_numbers",
          "sDom": '<"top"i>rt<"bottom"flp<"clear">',
          "bAutoWidth": false, 
          "bProcessing": true,
          "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
            var id = aData[0];
            $(nRow).attr("id",id);
            $(nRow).click(
              function()
              {
                alert('this: ' + $(this)[0].outerHTML); 
              }
            );
            return nRow;
          },
          "sAjaxSource": "/adm/medlemjson"
        } );

        //$('#example tbody').click(function(){ 
        //  alert('this: ' + $(this)[0].outerHTML); 
        //}); 

        $('.mogens').click(function(){ 
          var testmha = oTable;
          mhatest();
          //alert('outerHTML: ' + $(this)[0].outerHTML); 
        });      

        /* Hide the 4'th column after initialisation*/
			  oTable.fnSetColumnVis( 5, false );
      } );
      function mhatest(th){ 
          var testmha = oTable;
          //alert('testmha'); 
      }
		</script>
    <title>Find Medlem</title>
  </head>
  <body id="dt_example">
    <div class="mogens">
      <a id="mhaTest1234" ref=#>Test</a>
    </div>
    <div id="dynamic">
      <table width="850px" cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	      <thead>
          <tr >
            <th>Nr</th>
            <th>Navn</th>
            <th>Adresse</th>
            <th>Postnr</th>
            <th>By</th>
            <th>Telefon</th>
          </tr>
        </thead>  

        <tfoot>
          <tr >
            <th>Nr</th>
            <th>Navn</th>
            <th>Adresse</th>
            <th>Postnr</th>
            <th>By</th>
            <th>Telefon</th>
          </tr>
        </tfoot>  
      </table>
	  </div>
  </body>
</html>
