<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link type="text/css" href="/stylesheets/ui-lightness/jquery-ui-1.8.2.custom.css" rel="Stylesheet" />	
    <style type="text/css" title="currentStyle">
      @import "/stylesheets/demo_page.css";
      @import "/stylesheets/demo_table.css";
    </style>
    <style type="text/css">
		  body { font-size: 62.5%; }
		  label, input { display:block; }
		  input.text { margin-bottom:12px; width:95%; padding: .4em; }
		  fieldset { padding:0; border:0; margin-top:25px; }
		  h1 { font-size: 1.2em; margin: .6em 0; }
		  div#users-contain { width: 350px; margin: 20px 0; }
		  div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		  div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		  .ui-dialog .ui-state-error { padding: .3em; }
		  .validateTips { border: 1px solid transparent; padding: 0.3em; }
	  </style>
    <script src="/javascripts/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.dataTables.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.8.2.custom.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.ui.datepicker-da.js"></script>
    <script type="text/javascript" charset="utf-8">
        var oPersonTable;
        var oMedlemlogTable;
        $(document).ready(function() {

        oPersonTable = $('#person').dataTable( {
          "bJQueryUI": false,
          "sPaginationType": "full_numbers",
          //"sDom": '<"top"i>rt<"bottom"flp<"clear">',
          "bAutoWidth": false, 
          "bProcessing": true,
          //
          "aoColumnDefs": [
			        { "sWidth": "1em", "sClass": 'left', "sTitle": "Nr", "bVisible": true, "aTargets": [ 0 ] },
			        { "sClass": 'left', "sTitle": "Navn", "bVisible": true, "aTargets": [ 1 ] },
			        { "sClass": 'left', "sTitle": "Kaldenavn", "bVisible": false, "aTargets": [ 2 ] },
			        { "sClass": 'left', "sTitle": "Adresse", "bVisible": true, "aTargets": [ 3 ] },
			        { "sWidth": "3em", "sClass": 'left', "sTitle": "Pnr", "bVisible": false, "aTargets": [ 4 ] },
			        { "sWidth": "7em", "sClass": 'left', "sTitle": "By", "bVisible": true, "aTargets": [ 5 ] },
			        { "sClass": 'left', "sTitle": "Email", "bVisible": true, "aTargets": [ 6 ] },
			        { "sWidth": "5em", "sClass": 'left', "sTitle": "Telefon", "bVisible": true, "aTargets": [ 7 ] },
			        { "sWidth": "3em", "sClass": 'left', "sTitle": "Køn", "bVisible": false, "aTargets": [ 8 ] },
			        { "sWidth": "8em", "sClass": 'left', "sTitle": "Født dato", "bVisible": false, "aTargets": [ 9 ] },
			        { "sWidth": "10em", "sClass": 'left', "sTitle": "Bank", "bVisible": false, "aTargets": [ 10 ] }
            ],
          //
          "fnInitComplete":function( oSettings, json ) {
            $(oSettings.aoData).each( function() {
              var id = $(this)[0]._aData[0];
              var nRow = $(this)[0].nTr;
              $(nRow).attr("id",id);
              $(nRow).click( function(){
                var aPos = oPersonTable.fnGetPosition( this ); 
                medlemUpdate(aPos)
              });
            });
          },
          /*
          "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
            var id = aData[0];
            $(nRow).attr("id",id);
            if ( $.data( $(nRow).get(0), 'events' ) === null  || ( $.data( $(nRow).get(0), 'events' ) !== null && $.data( $(nRow).get(0), 'events' ).click === null ) )
            {
              $(nRow).click( function() { alert('this: ' + $(this)[0].outerHTML); } );
            }
            var foo2 = $.data( $(nRow).get(0), 'events' ).click;
            return nRow;
          },
          */
          "sAjaxSource": "/adm/medlemjson"
        } );
        
        oMedlemlogTable = $('#medlemlog').dataTable( {
          "bJQueryUI": false,
          "sPaginationType": "full_numbers",
          "bAutoWidth": false, 
          "bProcessing": true,
          //
          "aoColumnDefs": [
			        { "sWidth": "1em", "sClass": 'left', "sTitle": "Nr", "bVisible": true, "aTargets": [ 0 ] },
			        { "sWidth": "1em", "sClass": 'left', "sTitle": "Source", "bVisible": false, "aTargets": [ 1 ] },
			        { "sWidth": "1em", "sClass": 'left', "sTitle": "Source_id", "bVisible": false, "aTargets": [ 2 ] },
			        { "sWidth": "10em", "sClass": 'left', "sTitle": "Logdato", "bVisible": true, "aTargets": [ 3 ] },
			        { "sWidth": "1em", "sClass": 'left', "sTitle": "Akt_id", "bVisible": true, "aTargets": [ 4 ] },
			        { "sWidth": "10em", "sClass": 'left', "sTitle": "Akt_dato", "bVisible": true, "aTargets": [ 5 ] }
            ],
          "sAjaxSource": "/adm/medlemlogjson"
        } );

        $("#dialog-form").dialog({
          autoOpen: false,
			    modal: true,
          width: 400,
			    buttons: {
				    Ok: function() {
 				      var pos = $("#pos").val();
              oPersonTable.fnUpdate( [
                 $("#nr").val()
                ,$("#navn").val()
                ,$("#kaldenavn").val()
                ,$("#adresse").val()
                ,$("#postnr").val()
                ,$("#bynavn").val()
                ,$("#email").val()
                ,$("#telefon").val()
                ,$("#kon").val()
                ,$("#fodtdato").val()
                ,$("#bank").val()
                ], pos, 0); 
              
              $.ajax({
                url: "/adm/updatemedlem",
                type: 'POST',
                data: {
                   Nr: $("#nr").val()
                  ,Navn: $("#navn").val()
                  ,Kaldenavn: $("#kaldenavn").val()
                  ,Adresse: $("#adresse").val()
                  ,Postnr: $("#postnr").val()
                  ,Bynavn: $("#bynavn").val()
                  ,Email: $("#email").val()
                  ,Telefon: $("#telefon").val()
                  ,Kon: $("#kon").val()
                  ,FodtDato: $("#fodtdato").val()
                  ,Bank: $("#bank").val()
                }
              });              
              
              $(this).dialog('close');
				    }
			    }
		    });
 
        $('#fodtdato').datepicker({
           dateFormat: 'yy-mm-dd',
           changeMonth: true,
           changeYear: true,
           yearRange: '1920:2010' 
        });
       
      });                
      
      function medlemUpdate(aPos) {
        var aData = oPersonTable.fnGetData( aPos ); 
        $("#pos").val(aPos);
        $("#nr").val(aData[0]);
        $("#navn").val(aData[1]);
        $("#kaldenavn").val(aData[2]);
        $("#adresse").val(aData[3]);
        $("#postnr").val(aData[4]);
        $("#bynavn").val(aData[5]);
        $("#email").val(aData[6]);
        $("#telefon").val(aData[7]);
        $("#kon").val(aData[8]);
        $("#fodtdato").val(aData[9]);
        $("#bank").val(aData[10]);
   	    $("#dialog-form").dialog('open');
      } 
      
    </script>
    <title>Find Medlem</title>
  </head>
  <body id="dt_example">
    <div id="dynamic">
      <table width="850px" cellpadding="0" cellspacing="0" border="0" class="display" id="person">
        <thead>
          <tr >
            <th>Nr</th>
            <th>Navn</th>
            <th>Kaldenavn</th>
            <th>Adresse</th>
            <th>Postnr</th>
            <th>By</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Køn</th>
            <th>FødtDato</th>
            <th>Bank</th>
          </tr>
        </thead>          
        <tbody>
        </tbody>  
      </table>
    </div>
    
    <div id="dynamic_2">
      <table width="850px" cellpadding="0" cellspacing="0" border="0" class="display" id="medlemlog">
        <thead>
          <tr >
            <th>Nr</th>
            <th>Source</th>
            <th>Source_id</th>
            <th>Logdato</th>
            <th>Akt_id</th>
            <th>Akt_dato</th>
          </tr>
        </thead>          
        <tbody>
        </tbody>  
      </table>
    </div>
    
    <div id="dialog-form" title="Update user">
	    <form>
	      <fieldset>
		      <input type="hidden" name="pos" id="pos"/>
		      <label style="width:5em; float:left;" for="nr">Nr</label><input style="width:5em; float:rigth;" type="text" name="nr" id="nr" class="text ui-widget-content ui-corner-all" />
		      <label style="width:5em; float:left;" for="navn">Navn</label><input style="width:20em; float:rigth;" type="text" name="navn" id="navn" class="text ui-widget-content ui-corner-all" />
		      <label style="width:5em; float:left;" for="kaldenavn">Kaldenavn</label><input style="width:20em; float:rigth;" type="text" name="kaldenavn" id="kaldenavn" class="text ui-widget-content ui-corner-all" />
		      <label style="width:5em; float:left;" for="adresse">Adresse</label><input style="width:20em; float:rigth;" type="text" name="adresse" id="adresse" value="" class="text ui-widget-content ui-corner-all" />
		      <label style="width:5em; float:left;" for="postnr">Postnr</label><input style="width:10em; float:rigth;" type="text" name="postnr" id="postnr" value="" class="text ui-widget-content ui-corner-all" />
		      <label style="width:5em; float:left;" for="bynavn">By</label><input style="width:20em; float:rigth;" type="text" name="bynavn" id="bynavn" value="" class="text ui-widget-content ui-corner-all" />
		      <label style="width:5em; float:left;" for="email">Email</label><input style="width:20em; float:rigth;" type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
		      <label style="width:5em; float:left;" for="telefon">Telefon</label><input style="width:10em; float:rigth;" type="text" name="telefon" id="telefon" value="" class="text ui-widget-content ui-corner-all" />
		      <label style="width:5em; float:left;" for="kon">Køn</label><input style="width:1em; float:rigth;" type="text" name="kon" id="kon" value="" class="text ui-widget-content ui-corner-all" />
		      <label style="width:5em; float:left;" for="fodtdato">FødtDato</label><input style="width:10em; float:rigth;" type="text" name="fodtdato" id="fodtdato" value="" class="text ui-widget-content ui-corner-all" />
		      <label style="width:5em; float:left;" for="bank">Bank</label><input style="width:10em; float:rigth;" type="text" name="bank" id="bank" value="" class="text ui-widget-content ui-corner-all" />
	      </fieldset>
	    </form>
    </div>
  </body>
</html>
