<html>
<script language="JavaScript">
<!--
function MM_findObj(n, d) { //v3.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document); return x;
}
function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
 var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
   var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
   if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

//-->
</script>
  <head>
    <title>Find Medlem</title>
  </head>
  <body bgcolor="#FFFFFF" text="#000000" onLoad="fonLoad(); MM_preloadImages('/images/vpil_f2.gif')">
    <form action="" method="post">
      <table width="100%" border="0">
        <tr><td>Nr:</td><td><input type="text" name="nr" size="5" maxlength="5" value=""></td></tr>
        <tr><td>&nbsp;</td><td><input type="submit" value="Find"></td></tr>  
      </table>
    </form>
    {% if medlem_list %}
      <ul>
        {% for medlem in medlem_list %}
          <li><a href="/adm/medlem/{{ medlem.Nr }}" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('vpil{{ medlem.Nr }}','','/images/vpil_f2.gif',1)" >
                <img name="vpil{{ medlem.Nr }}" src="/images/vpil.gif" width="15" height="15" border="0"></a> 
              {{ medlem.Navn }} - {{ medlem.Telefon }} - {{ medlem.FodtDato|timesince }} - {{ medlem.FodtDato|date:"j-n-Y" }} - {{ medlem.Email }}</li>
        {% endfor %}
      </ul>
    {% else %}
        Ingen medlemmer.
    {% endif %}
  </body>
<script language="javascript">
<!--
  // Add Person
  function SelectHeading(){
    var newwindow;
	newwindow = window.open("/admin/PersonUpd.php?DoWhat=2&TopWin=<?=$TopWin?><?=$pPam?>","PersonUpd","status")
	newwindow.focus();
  }
  
  // Update Person
  function SelectLine(id,lineid,navn){
    var newwindow;
	newwindow = window.open("/admin/PersonUpd.php?DoWhat=3&Id="+id+"&TopWin=<?=$TopWin?><?=$pPam?>","PersonUpd","status")
	newwindow.focus();
  }

  function fonLoad(){
	var h = 270;
	var w = 325;
	var l = 30;
	if (l>25){
      w += 15;
	  l = 25;
	}
	window.resizeTo(w, h+(l*25));
  }
// -->
</script>
</html>
