<html>
<head>
<title>Medlem</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000" onLoad="{{xonload}}" >
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="30">&nbsp;</td>
    <td>&nbsp;</td>
    <td width="30">&nbsp;</td>
  </tr>
  <tr> 
    <td width="30">&nbsp;</td>
    <td valign="top"> 
      <p><font face="Arial, Helvetica, sans-serif" size="2" color="#000000"><b><b><font face="Arial, Helvetica, sans-serif" size="3" color="#003399">Indmeldelse</font></b></b></font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="2" color="#000000"> Du 
        kan melde dig ind i L&oslash;beklubben Puls 3060 ved at udfylde formularen 
        p&aring; denne side og trykke p&aring; knappen &quot;Indmeldelse&quot;. 
        Kontingentet for perioden {{kontingent_fra_dato}} til {{kontingent_til_dato}} er kr. {{kontingent}}</font></p>
      <form name="FormIndmeldelse" method="post" action="">
        <table width="100%" border="0">
          <tr> 
            <td>Nr:</td>
            <td> 
              <input type="text" name="Nr" size="5" maxlength="5" value="{{Nr}}">
            </td>
            <td>&nbsp;</td>
          </tr>          <tr> 
            <td>Navn:</td>
            <td> 
              <input type="text" name="Navn" size="25" maxlength="25" value="{{Navn}}">
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr> 
            <td>Kaldenavn:</td>
            <td> 
              <input type="text" name="Kaldenavn" size="25" maxlength="25" value="{{Kaldenavn}}">
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr> 
            <td>Adresse:</td>
            <td> 
              <input type="text" name="Adresse" size="35" maxlength="35" value="{{Adresse}}">
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr> 
            <td>Postnummer:</td>
            <td> 
              <input type="text" name="Postnr" size="4" maxlength="4" value="{{Postnr}}">
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr> 
            <td>By:</td>
            <td> 
              <input type="text" name="Bynavn" size="25" maxlength="25" value="{{Bynavn}}">
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr> 
            <td>Telefon</td>
            <td> 
              <input type="text" name="Telefonnr" size="8" maxlength="8" value="{{Telefonnr}}">
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr> 
            <td>E-mail:</td>
            <td> 
              <input type="text" name="Email" size="30" value="{{Email}}">
            </td>
            <td> <font size="3">(navn@abc.dk)</font></td>
          </tr>
          <tr> 
            <td>K&oslash;n:</td>
            <td> 
              <input type="text" name="Kon" size="1" maxlength="1" value="{{Kon}}">
            </td>
            <td><font size="3">(M=mand, K=kvinde)</font></td>
          </tr>
          <tr> 
            <td>F&oslash;dselsdato:</td>
            <td> 
              <input type="text" name="Fodelsdato" size="10" maxlength="10" value="{{Fodelsdato|date:"j-n-Y"}}">
            </td>
            <td><font size="3">(dd-mm-&aring;&aring;&aring;&aring;)</font></td>
          </tr>          
          <tr> 
            <td>Bank:</td>
            <td> 
              <input type="text" name="Bank" size="15" maxlength="15" value="{{Bank}}">
            </td>
            <td><font size="3">(Regnr-Kontonr)</font></td>
          </tr>
          <tr valign="bottom"> 
            <td height="50">&nbsp;</td>
            <td colspan="2" height="50"> 
              <input type="submit" name="Indmeldelse" value="Indmeldelse">
              <input type="reset" name="SletIndtastning" value="Slet indtastning">
          </tr>
        </table>
        <p>Efter du har udfyldt ovenst&aring;ende formular og trykket p&aring; 
          &quot;Indmeldelse&quot; vil du f&aring; tilsendt et giro-indbetalingskort, 
          som efter betaling vil fungerer som Puls 3060 Medlemskort.</p>
      </form>
   </td>
    <td width="30">&nbsp;</td>
  </tr>
  <tr> 
    <td width="30">&nbsp;</td>
    <td align="right"><br>
      <font color=#a03952 face="Arial, Helvetica, sans-serif" size=2><i><b></b></i></font>
      <br>
      <br>
    </td>
    <td width="30">&nbsp;</td>
  </tr>
</table>
</body>
<script language="javascript">
<!--
  function fonLoad(){
	  var h = 675;
	  var w = 650;
	  window.resizeTo(w, h);
  }
  
  function UpdateParentAndClose(){
    var ParentWindow;
    var Reload;
	  ParentWindow = top.opener;
    Reload = ParentWindow.document.all['Reload'];
	  Reload.submit();
    ParentWindow.focus();
	  window.close();
  }
// -->
</script>
</html>