<HTML>
<HEAD>
<SCRIPT>
var obj_open = null;
var SubTree_clik = false;
var windowindex = 0;

function Confirm(childid)
{
  SubTree_clik = true;

  var url;
  var newwindow;
  var windowname;

  url = "confirm.php?menuid="+childid;
  windowname = "menu"+(++windowindex);
  newwindow = window.open(url,windowname,"status");
  newwindow.resizeTo(300, 250);
  newwindow.focus();
}

function SubTree(url, target)
{
  SubTree_clik = true;

  if (target == 'new'){
    var newwindow;
    var windowname;
    windowname= "menu"+(++windowindex);
    newwindow = window.open(url,windowname,"status, scrollbars, resizeable");
    newwindow.focus();
  }
  else{
    window.close();
    window.open(url);
  }
}

function SubTreeShow(obj)
{
  if ( SubTree_clik == true )
  {
     SubTree_clik = false;
     return;
  }
  if ( obj == obj_open )
  {
    obj_open.children[1].outerHTML='';
    obj_open = null;
  }
  else
  {
    if ( obj_open != null ){obj_open.children[1].outerHTML='';}
    obj.insertAdjacentHTML("BeforeEnd", document.all["Tree_"+obj.id].innerHTML);
    obj_open = obj;
  }
}
</SCRIPT>
<LINK REL="STYLESHEET" HREF="/stylesheets/menu.css" TYPE="text/css">
</HEAD>
<BODY STYLE="padding: 0; margin: 0">
<DIV STYLE="width=100%; height=100%">
  <DIV ID="menu" CLASS=menu STYLE="width=25%; height=100%; float: left; background-color: #CFE3CC; padding: 5; margin: 0; min-width=10em">
  {% block menu %}
  {{menu}}
  {% endblock %}
  </DIV>
  <DIV ID="content" CLASS=admin STYLE="width=75%; height=100%; float: left; background-color: #FFFFFF; padding: 5; margin: 0">
  {% block content %}
    <pre>
    </pre>
    <center>
      <a><img src=/images/puls3060logo.gif border=0></a>
      <h1 class=login>Version 0.2.0</h1>
      <p>Licensed to<p>
        <b> 
          Puls 3060<br>
          co/Mogens Hafsjold<br>
          Nørremarken 31<br>
          Espergærde
        </b>
      <p>
      <table border=0>
        <tr>
          <th align=right>User</th>
            <td>{{user}}</td>
          </tr><tr>
          <th align=right>Host</th>
          <td>{{host}}</td>
        </tr>
      </table>
    </center>
  {% endblock %}
  </DIV>
</DIV>
</BODY>
</HTML>