<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="nsPbs3060.Properties.Settings.puls3061_dk_dbConnectionString3" connectionString="Data Source=qynhbd9h4f.database.windows.net;Initial Catalog=dbPuls3060Medlem;Persist Security Info=True;User ID=sqlUser;Password=Puls3060;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="nsPbs3060.Properties.Settings.dbPuls3060MedlemConnectionString" connectionString="Data Source=vhd50;Initial Catalog=dbPuls3060Medlem;User ID=sa;Password=Puls3060" providerName="System.Data.SqlClient" />
    <add name="nsPbs3060.Properties.Settings.dbPuls3060MedlemConnectionString1" connectionString="Data Source=qynhbd9h4f.database.windows.net;Initial Catalog=dbPuls3060Medlem;Persist Security Info=True;User ID=sqlUser;Password=Puls3060" providerName="System.Data.SqlClient" />
    <add name="nsPbs3060.Properties.Settings.dbPuls3060MedlemConnectionString2" connectionString="Data Source=VHD50;Initial Catalog=dbPuls3060Medlem;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="nsPbs3060.Properties.Settings.dbPuls3060MedlemConnectionString3" connectionString="Data Source=qynhbd9h4f.database.windows.net;Initial Catalog=dbPuls3060Medlem;User ID=sqlUser;Password=Puls3060;Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="puls3060_nyEntities" connectionString="metadata=res://*/puls3060_ny.csdl|res://*/puls3060_ny.ssdl|res://*/puls3060_ny.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=vHD62;user id=root;persistsecurityinfo=True;database=puls3060_dk&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PayPalAPISoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PayPalAPIAASoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PayPalAPISoapBinding1" />
        <binding name="PayPalAPIAASoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api-3t.paypal.com/2.0/" binding="basicHttpBinding" bindingConfiguration="PayPalAPISoapBinding" contract="PayPalServiceReference.PayPalAPIInterface" name="PayPalAPI" />
      <endpoint address="https://api-aa.paypal.com/2.0/" binding="basicHttpBinding" bindingConfiguration="PayPalAPIAASoapBinding" contract="PayPalServiceReference.PayPalAPIAAInterface" name="PayPalAPIAA" />
    </client>
  </system.serviceModel>
</configuration>