<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nsPuls3060.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <nsPuls3060.Properties.Settings>
            <setting name="BetalingsFristiDageGamleMedlemmer" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="BetalingsFristiDageNyeMedlemmer" serializeAs="String">
                <value>61</value>
            </setting>
        </nsPuls3060.Properties.Settings>
    </userSettings>
</configuration>