<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccessToSQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AccessToSQL.Properties.Settings.dbData3060ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Documents and Settings\mha\Dokumenter\Medlem3060\Databaser\Access2003\dbData3060.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <AccessToSQL.Properties.Settings>
            <setting name="accessDB" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLDB" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlCeCmd" serializeAs="String">
                <value />
            </setting>
            <setting name="Script" serializeAs="String">
                <value />
            </setting>
        </AccessToSQL.Properties.Settings>
    </userSettings>
</configuration>