.pagepuls3060 {
	background-color: White;
	margin: 0px;
	width: 608px;
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 0px;
	padding-right: 10px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #003399;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}