<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Trans2Summa3060.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Trans2Summa3060.Properties.Settings.dbDataTransSummaConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=dbDataTransSumma;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Trans2Summa3060.Properties.Settings>
            <setting name="BetalingsFristiDageGamleMedlemmer" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="BetalingsFristiDageNyeMedlemmer" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="frmMainPoint" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="frmMainSize" serializeAs="String">
                <value>1024, 800</value>
            </setting>
            <setting name="frmMedlemmerPoint" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="frmMedlemmerSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="frmKreditorPoint" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="frmKreditorSize" serializeAs="String">
                <value>304, 300</value>
            </setting>
            <setting name="frmKreditorState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="frmRegnskabState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="frmRegnskabSize" serializeAs="String">
                <value>531, 398</value>
            </setting>
            <setting name="frmRegnskabPoint" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmKontingentForslagSize" serializeAs="String">
                <value>829, 513</value>
            </setting>
            <setting name="frmKontingentForslagPoint" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmMedlemmerSplitteDist" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="frmPbsfilesPoint" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmPbsfilesSize" serializeAs="String">
                <value>707, 511</value>
            </setting>
            <setting name="FrmBetalingsForslagSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="FrmBetalingsForslagPoint" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmRykkerForslagClientSize" serializeAs="String">
                <value>829, 513</value>
            </setting>
            <setting name="frmRykkerForslagPoint" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmPbsnetdirSize" serializeAs="String">
                <value>416, 211</value>
            </setting>
            <setting name="frmPbsnetdirPoint" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="BankafstemningSplitterDistancr" serializeAs="String">
                <value>383</value>
            </setting>
            <setting name="BankafstemningSize" serializeAs="String">
                <value>829, 513</value>
            </setting>
            <setting name="FrmBankkontoudtogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmBankkontoudtogSize" serializeAs="String">
                <value>393, 416</value>
            </setting>
            <setting name="frmKladderLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmKladderSize" serializeAs="String">
                <value>530, 259</value>
            </setting>
            <setting name="frmNyeKladderLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmNyeKladderSize" serializeAs="String">
                <value>521, 259</value>
            </setting>
            <setting name="frmBilagLoacation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmBilagSize" serializeAs="String">
                <value>870, 346</value>
            </setting>
            <setting name="frmBilagSplitDistance" serializeAs="String">
                <value>246</value>
            </setting>
            <setting name="frmKontoplanListLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="checkBoxMedsaldo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmKontoplanListCheckboxmedsaldo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmNyeFakturaerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmNyeFakturaerSize" serializeAs="String">
                <value>803, 354</value>
            </setting>
            <setting name="frmFakturaerSize" serializeAs="String">
                <value>825, 260</value>
            </setting>
            <setting name="frmFakturaerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrmVarekontoTypeLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrmVarekontoTypeSize" serializeAs="String">
                <value>302, 106</value>
            </setting>
            <setting name="FrmActebisfakturaLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrmActebisfakturaSize" serializeAs="String">
                <value>1081, 495</value>
            </setting>
            <setting name="frmVareListLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmTemplateLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmTemplateSize" serializeAs="String">
                <value>730, 297</value>
            </setting>
            <setting name="frmTemplateWinState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="frmKontoudtogSize" serializeAs="String">
                <value>324, 250</value>
            </setting>
            <setting name="frmKontoudtogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Trans2Summa3060.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
