<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <PrivateHDCAppSettings  xdt:Transform="Replace">
    <add key="UniContaUser" value="mha" />
    <add key="UniContaPW" value="Puls3060" />
    <add key="UniContaCompanyId" value="5364" />
    <add key="ImapUser" value="mha@hafsjold.com" />
    <add key="ImapPW" value="jsqpqzfrzhtttzyz" />
    <add key="puls3060_dkUser" value="***" />
    <add key="puls3060_dkPW" value="***" />
  </PrivateHDCAppSettings>
</configuration>