<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/medlem3060.css" type="text/css" media="screen" />
    <script src="/javascripts/jquery-1.4.2.js" type="text/javascript"></script>
    <title>List User</title>
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <form name="Reload" method="post" action="/teknik/listuser" />
    <table>
      <tr style=background-color:#FF0000>
        <font color=#003399> 
          <th align=center>User</th>
          <th align=center>Email</th>
          <th align=center>Group</th>
          <th>&nbsp;</th>
        </font>
      </tr>
      
    {% if user_list %}
      {% for user in user_list %}
      <tr class="vpil" avalign=top style=background-color:{% cycle #CFE3CC,#CBE2E4 as rowcolors %}>
        <td align=left name="account">{{user.account}}</td>
        <td align=left name="email">{{user.email}}</td>
        <td align=left name="GroupName">{{user.UserGroup_key.GroupName}}</td>
        <td align=left valign="middle"><a href=#/></td>
      </tr>
      {% endfor %}
    {% endif %}    
    </table>
  </body>
<script language="javascript">
<!--
  $(document).ready(function() {
    fonLoad();
    
    $('.vpil a').click(function() {
      //alert( $(this).parent().parent().find('td[name="account"]').html() );
      SelectLine( $(this).parent().parent().find('td[name="account"]').html() );
    });
  });

  var windowindex = 0;
  // Update User
  function SelectLine(account){
    var newwindow;
    var windowname;
    windowname= "listuser"+(++windowindex);
    newwindow = window.open("/teknik/user/"+account,windowname,"status, scrollbars, resizeable")
    newwindow.focus();
  }

  function fonLoad(){
    var h = 150;
    var w = 500;
    var l = {{usercount}};
    if (l>25){
      w += 15;
      l = 25;
    }
    window.resizeTo(w, h+(l*25));
  }
// -->
</script>
</html>
