<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="nsMedlem3060Service.Properties.Settings.puls3061_dk_dbConnectionString_Test" connectionString="Data Source=qynhbd9h4f.database.windows.net;Initial Catalog=dbPuls3060Medlem;Integrated Security=False;Persist Security Info=True;User ID=sqlUser;Encrypt=True" providerName="System.Data.SqlClient" />
    <add name="nsMedlem3060Service.Properties.Settings.puls3061_dk_dbConnectionString_Prod" connectionString="Data Source=qynhbd9h4f.database.windows.net;Initial Catalog=dbPuls3060Medlem;Integrated Security=False;Persist Security Info=True;User ID=sqlUser;Encrypt=True" />
    <add name="puls3060_dkEntities" connectionString="metadata=res://*/puls3060_dk.csdl|res://*/puls3060_dk.ssdl|res://*/puls3060_dk.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql3.gigahost.dk;user id=puls3060;password=tasja123;persistsecurityinfo=True;database=puls3060_dk;convert zero datetime=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=puls3060;AccountKey=7BjY95xrYstORQGBwtMan60GSLeI2SsSitkxfpUw4YnBgN8zbdXQpE2TQm04Mq9JiLSR1oc5coGy7J+CAyJaOw==" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>